<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Редактировать страну</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header><h1>Редактировать страну</h1></header>
  <main>
    <form method="POST" action="/edit-country/<%= country.country_id %>">
      <input name="country_name" value="<%= country.country_name %>" placeholder="Название страны" required>
      <button>Сохранить</button>
      <a href="/">Отмена</a>
    </form>
  </main>
</body>
</html>